
.container
 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    background-color:rgb(70, 159, 68);  
 }

.item
{
    background-color: rgb(31, 53, 1);
    color:rgb(160, 224, 64);
    padding: 20px;
    text-align: center;
    font-size: 16px;

.container2
 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    background-color:rgb(69, 169, 67);  
 }

.item2
{
    background-color: rgb(31, 53, 1);
    color:rgb(79, 106, 24);
    padding: 20px;
    text-align: center;
    font-size: 16px;
} 
h1
                {
                    background-color: green;
                    font-family: Comic Sans;
                }

 body
 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    background-image: url('https://turnerduckworth.com/media/uploads/case_studies/project/refreshing_fresh/Subway_Hero_LR.webp');
background-size: cover;
 }

h1 h2
{
    color:darkturquoise
}
 article
 {
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
 

 div p
 {
    color:dodgerblue;
    font-family: Comic Sans;
 }

:hover
{
    color:rgb(0, 0, 0)
}
}