  h1
                {
                    background-color: green;
                }

 body
 {
    background-color:greenyellow;
     color:rgb(0, 0, 0)
 }

 div p
 {
    color:dodgerblue
 }

:hover
{
    color:darkred
}
input[type="test"]
{ 
    color:magenta
}